.sidebar {
    background-color: white;

    position:fixed;
    left:0;
    bottom:0;
    top: 61px;
    width: 72px;

    border-style:solid;
    border-width: 0px;
    border-right-width:0px;
    border-color: rgb(221, 221, 221);

    z-index: 200;

}

.sidebar-link {
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.sidebar-link img {
    height: 24px;
}

.sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
    margin-top: 5px;
}